about-time==4.2.1
affine==2.4.0
alive-progress==3.1.5
altgraph==0.17.4
attrs==23.2.0
autograd==1.6.2
beautifulsoup4==4.12.3
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
cma==3.2.2
colorama==0.4.6
contextily==1.5.0
contourpy==1.2.0
customtkinter==5.2.2
cycler==0.12.1
darkdetect==0.8.0
decorator==5.1.1
Deprecated==1.2.14
dill==0.3.8
esda==2.5.1
fiona==1.9.5
fonttools==4.49.0
future==0.18.3
geocoder==1.38.1
geographiclib==2.0
geopandas==0.14.3
geopy==2.4.1
giddy==2.3.5
grapheme==0.6.0
idna==3.6
joblib==1.3.2
kiwisolver==1.4.5
kneed==0.8.5
libpysal==4.9.2
llvmlite==0.42.0
mapclassify==2.6.1
matplotlib==3.8.3
mercantile==1.2.1
momepy==0.7.0
mpmath==1.3.0
networkx==3.2.1
numba==0.59.0
numpy==1.26.4
packaging==23.2
pandas==2.2.0
pefile==2023.2.7
pillow==10.2.0
platformdirs==4.2.0
pyasn1==0.5.1
pyinstaller==6.4.0
pyinstaller-hooks-contrib==2024.1
pymoo==0.6.1.1
pyparsing==3.1.1
pyperclip==1.8.2
pyproj==3.6.1
PySimpleGUI==5.0.2
python-dateutil==2.8.2
pytz==2024.1
pywin32==306
pywin32-ctypes==0.2.2
quantecon==0.7.1
rasterio==1.3.9
ratelim==0.1.6
requests==2.31.0
rsa==4.9
scikit-learn==1.4.1.post1
scipy==1.12.0
seaborn==0.13.2
setuptools==69.1.0
shapely==2.0.2
six==1.16.0
snuggs==1.4.7
soupsieve==2.5
splot==1.1.5.post1
spreg==1.4.2
sympy==1.12
threadpoolctl==3.3.0
tkintermapview==1.29
tqdm==4.66.2
tzdata==2024.1
urllib3==2.2.0
wrapt==1.16.0
xyzservices==2023.10.1